@import 'tailwindcss';

:root{
    --primary: #08CB00;
    --secondary: #253900;
    --text: #000000;
    --bg: #EEEEEE;
    --font-bold: 'Roboto', 'Roboto-Bold';
    --font-regular: 'Roboto', 'Roboto-Regular';
}
