@import "tailwindcss";
@config "../tailwind.config.js";

:root {
    --primary: #08cb00;
    --secondary: #253900;
    --text: #000000;
    --bg: #eeeeee;
    --font-bold: "Roboto", "Roboto-Bold";
    --font-regular: "Roboto", "Roboto-Regular";
}

label,
button {
    font-family: "Roboto", "Roboto-Regular";
    font-weight: 400;
}

.font-bold {
    font-family: "Roboto", "Roboto-Bold";
    font-weight: 700;
}

.lucide {
    font-family: "lucide", "lucide";
    font-weight: 400;
    font-size: 25;
}
